@mixin button($alt: false, $toggle: false) {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 10px 30px;

    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    font-family: $textFont;
    line-height: 23px;
    text-align: center;

    opacity: 1;

    border: none;
    border-radius: 16px 0 16px 0;
    background-image: none;
    background-color: $secondaryColor;

    cursor: pointer;
    transition-duration: .377s;
    transition-timing-function: ease-out;

    &:disabled {
        pointer-events: none;
        opacity: .25;
    }

    &:hover {
        border-radius: 0 16px 0 16px;
    }

    &:active {
        color: $primaryColor;
        background-color: #FFF;
    }

    @if $alt {
        color: $secondaryColor;

        border: 2px solid $secondaryColor;
        background-color: #FFF;

        &:hover {
            color: $primaryColor;
            background-color: $primaryColor;
        }

        &:active {
            color: $textColor;
            background-color: $textColor;
        }
    }

    @if $toggle {
        padding: 0 16px;

        color: $textColor;
        font-family: $fontBase;
        font-size: 14px;
        font-weight: 700;

        border-radius: 12px;
        border: 1px solid $secondaryColor;
        background-color: #FFF;

        &:hover {
            border-radius: 12px;
            background-color: rgba($textColor, .15);
        }

        &.active {
            color: #FFF;
            border-color: $textColor;
            background-color: $textColor;
        }
    }

    &.alt {
        color: $secondaryColor;

        border: 2px solid $secondaryColor;
        background-color: #FFF;

        &:hover {
            color: $primaryColor;
            background-color: $primaryColor;
        }

        &:active {
            color: $textColor;
            background-color: $textColor;
        }
    }

    &.arrow {
        position: relative;

        color: $primaryColor;
        font-family: $textFont;
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;

        border-radius: 0 16px 0 16px;
        background-color: transparent;

        &:hover {
            border-radius: 16px 0 16px 0;
            background-color: rgba(#000, .15);
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;

            display: inline-block;
            width: 32px;
            height: 100%;

            background-position: center;
            background-repeat: no-repeat;

            transition-duration: .144s;
        }

        &[variant="prev"] {
            padding-left: 36px;
            padding-right: 16px;

            &::before {
                left: 0;
                background-image: url('img/search/prev.svg');
            }

            &:active {
                &::before {
                    transform: translateX(-3px);
                }
            }
        }

        &[variant="next"] {
            padding-left: 16px;
            padding-right: 36px;

            &::before {
                right: 0;
    
                background-image: url('img/search/next.svg');
            }

            &:active {
                &::before {
                    transform: translateX(3px);
                }
            }
        }
    }
}

.btn {
    @include button();
}
