#sitemapToggle:checked {
    + .footer {
        .container {
            .sitemapToggle {
                .icon {
                    transform: rotateX(180deg);
                }
            }
        }
    }

    ~ .sitemap {
        transform: translateY(-48px);
    }
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 4px 0;

    background-color: $textColor;
    z-index: 2;

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: $screen-xl) {
            flex-direction: row;
            justify-content: space-between;
        }

        .sitemapToggle {
            display: none;

            @media (min-width: $screen-xl) {
                display: flex;
                align-items: center;

                padding: 8px 12px;

                color: $secondaryColor;
                font-weight: 700;

                cursor: pointer;
                transition: .144s;

                &:hover {
                    background-color: rgba($textColor, .15);
                }

                .icon {
                    display: block;
                    width: 24px;
                    height: 24px;

                    margin: 0 0 0 8px;

                    background-image: url('img/footer/up.svg');
                    background-position: center;
                    background-repeat: no-repeat;

                    transition-duration: .61s;
                }
            }
        }

        .footer-menu {
            display: flex;
            flex-direction: row;

            margin: 0 0 12px 0;

            @media (min-width: $screen-xl) {
                margin: 0;
            }

            > li {
                + li {
                    a {
                        border-left: 1px solid #FFF;
                    }
                }
                a {
                    display: block;
                    padding: 0 12px;

                    color: $secondaryColor;
                    font-size: 14px;

                    @media (min-width: $screen-xl) {
                        padding: 0 8px;
                        font-size: 16px;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .poweredBy {
            display: block;
            padding: 8px 12px;

            color: #FFF;
            font-size: 16px;

            @media (min-width: $screen-xl) {
                padding: 0 8px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media (max-width: $screen-lg) {
        padding: 15px 0;
    }
}

.sitemap {
    display: none;

    @media (min-width: $screen-xl) {
        position: fixed;
        bottom: 0;
        left: 0;

        width: 100%;
        padding: 40px 0 24px 0;

        display: block;

        background-color: $primaryColor;
        z-index: 1;

        transition-duration: .61s;
        transform: translateY(100%);

        box-shadow: 0 0 8px rgba(#000, .25);

        .container {
            h2 {
                margin: 0 0 32px;

                color: #FFF;
                text-align: center;
            }
            .primary-menu {
                display: flex;
                justify-content: space-between;

                list-style: none;

                > li {
                    width: 100%;

                    a {
                        display: block;
                        padding: 8px 12px;

                        color: #FFF;
                        font-size: 18px;
                        font-weight: 700;
                    }

                    .sub-menu {
                        display: flex;
                        flex-direction: column;
                        margin: 16px 0 0 0;

                        li {
                            a {
                                font-size: 16px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Cookies bar
.cookieinfo {
    position: fixed;
    left: 50%;
    bottom: 0;

    width: 100%;
    max-width: 1288px;

    padding: 32px 38px;

    @include flexbox();
    @include align-items(center);
    flex-direction: column;

    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 20;

    @include transform(translateX(-50%));

    @media (min-width: $screen-lg) {
        flex-direction: row;
        
    }

    .btn {
        margin: 24px 0 0 0;

        @media (min-width: $screen-lg) {
            margin: 0 0 0 56px;
        }
    }

    .content {
        &.content * {
            color: $textColor;
    
            font-size: 17px;
            font-weight: $fontRegular;
            line-height: 22px;
        }

        a {
            color: $primaryColor;
            text-decoration: underline;
        }
    }
}