.logged-in {
    header {
        top: 46px;

        @media (min-width: $screen-xl) {
            top: 0;
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    z-index: 2;
    background: $primaryColor;

    @media (min-width: $screen-xl) {
        position: relative;
    }

    .container {
        position: relative;
        
        @media (min-width: $screen-xl) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            height: 96px;
        }

        .top {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            height: 64px;
            
            @media (min-width: $screen-xl) {
                height: auto;
            }
    
            .logo {
                position: absolute;
                top: 0;
                left: 0;

                display: block;
                width: 141px;
                height: 56px;

                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url('img/logo.png');

                z-index: 1;

                @media (min-width: $screen-xl) {
                    width: 238px;
                    height: 96px;
                    background-size: auto;
                }
            }
    
            .quotes {
                display: none;

                @media (min-width: $screen-xl) {
                    display: flex;
                    margin: 0 64px 0;
    
                    .item {
                        display: flex;
                        align-items: center;
        
                        margin: 0 12px;
            
                        span {
                            margin: 0 12px;
        
                            color: #FFF;
                            font-size: 14px;
                            font-weight: 700;
            
                            &.high {
                                color: #06CE1A;
                            }
            
                            &.low {
                                color: red;
                            }
                        }
                    }
                }
            }
    
            .right {
                display: flex;
    
                .lang {
                    display: flex;
                    align-items: center;
        
                    margin: 0 18px;

                    @media (min-width: $screen-xl) {
                        margin: 0 30px;
                    }
        
                    a {
                        display: block;
        
                        color: $secondaryColor;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 21px;
                        text-transform: uppercase;
                        text-align: center;
        
                        background-position: center;
                        background-repeat: no-repeat;
        
                        transition-duration: .144s;
        
                        &:hover {
                            filter: brightness(1.1);
                        }
        
                        &:active {
                            transform: scale(1.1);
                        }
        
                        &.active {
                            display: none;
                        }
                    }
                }
        
                .top-menu {
                    display: none;

                    @media (min-width: $screen-xl) {
                        display: flex;
                        list-style: none;
            
                        margin: 0;
                        padding: 0;
            
                        li {
                            a {
                                display: block;
                                padding: 8px 16px;
            
                                color: $secondaryColor;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 25px;
            
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .menuToggle {
                    display: block;
                    width: 48px;
                    height: 48px;

                    border-radius: 24px;
                    background-image: url('img/header/menuToggle.svg');
                    background-position: center;
                    background-repeat: no-repeat;

                    transition-duration: .144s;

                    -webkit-tap-highlight-color: rgba($quaternaryColor, .15);

                    @media (min-width: $screen-xl) {
                        display: none;
                    }

                    &:active {
                        background-color: rgba($quaternaryColor, .15);
                    }
                }
            }
        }
    
        .bottom {
            position: absolute;
            top: 0;
            left: 100%;

            width: 90%;
            height: 100vh;

            padding: 32px 20px 96px;

            opacity: 0;

            transition-duration: .377s;
            transition-timing-function: ease-in;

            background-color: $primaryColor;
            z-index: 1;

            box-shadow: 0 0 16px rgba($textColor, .75);

            @media (min-width: $screen-xl) {
                position: relative;
                top: auto;
                left: auto;

                width: auto;
                height: auto;

                padding: 0;

                display: flex;
                justify-content: space-between;
                align-items: center;

                opacity: 1;
                z-index: auto;

                background: none;
                box-shadow: none;
                z-index: auto;
            }

            .close {
                position: absolute;
                top: 22px;
                right: 20px;

                display: block;
                width: 48px;
                height: 48px;

                cursor: pointer;

                border-radius: 8px;
                background-image: url('img/header/close.svg');
                background-position: center;
                background-repeat: no-repeat;

                @media (min-width: $screen-xl) {
                    display: none;
                }

                &:hover {
                    background-color: rgba(#FFF, .15);
                }

                &:active {
                    background-color: rgba($textColor, .25);
                }
            }

            .title {
                display: block;

                color: #FFF;
                font-size: 30px;
                font-weight: 700;

                @media (min-width: $screen-xl) {
                    display: none;
                }
            }

            .searchField {
                position: relative;
                width: 100%;
                margin: 22px 0;

                display: flex;
                justify-content: flex-end;
                align-items: center;

                background-color: $primaryColor;
                transition-duration: .61s;

                @media (min-width: $screen-xl) {
                    display: none;
                }

                fieldset {
                    position: relative;
                    
                    width: 100%;
                    margin: 0;

                    input {
                        &[type="search"] {
                            width: 100%;
                            height: 48px;

                            padding: 0 56px 0 26px;

                            color: $primaryColor;
                            font-size: 13px;
                            font-weight: 700;
                            font-style: italic;

                            border: none;
                            border-radius: 6px;
                            background: none;
                            background-color: #FFF;

                            -webkit-appearance: none;
                            appearance: none;
                        }

                        &[type="submit"] {
                            position: absolute;
                            top: 0;
                            right: 0;
        
                            width: 48px;
                            height: 48px;
        
                            cursor: pointer;
        
                            border: none;
                            border-radius: 6px;
                            background-color: rgba($quaternaryColor, 0);
                            background-image: url('img/header/search.svg');
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 32px;
        
                            transition-duration: .144s;
        
                            &:hover {
                                background-color: rgba($quaternaryColor, .15);
                            }

                            &:active {
                                background-size: 38px;
                            }
                        }
                    }
                }
            }

            nav {
                width: 100%;
    
                @media(min-width: $screen-xl) {
                    padding-left: 320px;
                }
    
                .primary-menu {
                    padding: 0;
                    margin: 0;
    
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    list-style: none;

                    @media (min-width: $screen-xl) {
                        flex-direction: row;
                    }
    
                    li {
                        position: relative;
                        
                        a {
                            display: block;
                            padding: 8px;
    
                            color: #FFF;
                            font-size: 16px;
                            font-weight: 500;
    
                            transition-duration: .144s;

                            @media (min-width: $screen-xl) {
                                padding: 8px 8px 18px;
                            }
                        }
    
                        &:hover {
                            > a {
                                color: $secondaryColor;
                            }
    
                            .sub-menu {
                                max-height: 512px;

                                opacity: 1;
                                pointer-events: all;
                            }
                        }
    
                        .sub-menu {
                            position: relative;
                            width: 100%;
                            max-height: 0;
                            
                            padding: 0 0 0 16px;
                            margin: 0;
    
                            display: flex;
                            flex-direction: column;
    
                            opacity: 0;
                            pointer-events: none;
    
                            list-style: none;
    
                            background-color: rgba(#FFF, .15);
    
                            transition-duration: .377s;

                            @media (min-width: $screen-xl) {
                                position: absolute;
                                top: 100%;
                                left: 50%;

                                padding: 0;

                                min-width: 200px;

                                transition-duration: .144s;
                                transform: translateX(-50%);

                                background-color: rgba($primaryColor, .8);
                            }
    
                            li {
                                a {
                                    padding: 6px 12px;
                                    font-size: 12px;
                                    font-weight: 400;
    
                                    &:hover {
                                        color: $secondaryColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            > .search {
                display: none;

                @media (min-width: $screen-xl) {
                    display: block;
                    width: 48px;
                    height: 48px;
                    margin: 0 12px;
    
                    cursor: pointer;
    
                    border-radius: 6px;
                    background-image: url('img/header/search.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 32px;
    
                    transition-duration: .144s;
    
                    &:hover {
                        background-color: rgba($quaternaryColor, .25);
                    }
    
                    &:active {
                        background-size: 38px;
                    }
                }
            }
        }

        #menuToggle:checked {
            ~ .bottom {
                opacity: 1;
                transform: translateX(-100%);
                transition-timing-function: ease-out;
            }
        }
    
        #searchToggle:checked {
            ~ .searchField {
                opacity: 1;
                pointer-events: all;
            }
        }

        .searchField {
            display: none;

            @media (min-width: $screen-xl) {
                position: absolute;
                top: 0;
                right: 0;
        
                height: 100%;
                width: 100%;

                display: flex;
                justify-content: flex-end;
                align-items: center;
        
                opacity: 0;
                pointer-events: none;

                background-color: $primaryColor;
                transition-duration: .61s;

                fieldset {
                    position: relative;
                    margin: 0;

                    input {
                        &[type="search"] {
                            width: 518px;
                            height: 48px;

                            padding: 0 56px 0 26px;

                            color: $textColor;
                            font-size: 13px;
                            font-weight: 700;

                            border: none;
                            border-radius: 6px;
                            background: none;
                            background-color: #FFF;
                        }

                        &[type="submit"] {
                            position: absolute;
                            top: 0;
                            right: 0;
        
                            width: 48px;
                            height: 48px;
        
                            cursor: pointer;
        
                            border: none;
                            border-radius: 6px;
                            background-color: rgba($quaternaryColor, 0);
                            background-image: url('img/header/search.svg');
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 32px;
        
                            transition-duration: .144s;
        
                            &:hover {
                                background-color: rgba($quaternaryColor, .15);
                            }

                            &:active {
                                background-size: 38px;
                            }
                        }
                    }
                }

                .close {
                    display: block;
                    width: 48px;
                    height: 48px;

                    cursor: pointer;

                    border-radius: 0 6px 6px 0;
                    background-image: url('img/header/close.svg');
                    background-position: center;
                    background-repeat: no-repeat;

                    &:hover {
                        background-color: rgba(#FFF, .15);
                    }

                    &:active {
                        background-color: rgba($textColor, .25);
                    }
                }
            }
        }
    }
}

@media print {
    .header {
        position: relative;
        top: auto;
        left: auto;

        box-shadow: none;

        &__top {
            background: none;

            .container {
                *:not(.logo) {
                    display: none;
                }

                .logo {
                    top: 16px;
                    left: 15px;
                }
            }
        }

        &__navigation {
            opacity: 0;
        }
    }
}