.wpContent--contact {
    position: relative;

    .form {
        .talkIr {
            text-align: left;

            .btns {
                display: flex;
                margin: 0;
    
                button {
                    + button {
                        margin: 0 0 0 6px;
                    }
                }
            }
        }

        .g-recaptcha {
            margin-bottom: 20px;

            > div {
                margin: 0 auto;
            }
        }
        .success-box {
            background-color: $primaryColor;
            border-radius: 10px;
            padding: 20px 0;
            text-align: center;
            color: white;
            display: none;
            width: 100%;
            margin: auto;
            max-width: 600px;
        }
        
        .fail-box {
            max-width: 600px;
            width: 100%;

            display: none;

            margin: 24px auto;
            padding: 20px 0;

            text-align: center;
            color: $low;
        

            border: 2px solid $low;
            border-radius: 10px;
            background-color: #FFF;
        }
    }

    .contactBlocks {
        .item {
            display: block;
            margin: 0 0 30px 0;

            h6 {
                margin: 0 0 6px 0;
                color: $textColor;
            }
        }
    }
}