.wpContent--energy {
    .renewableEnergy {
        display: flex;
        padding: 0 0 0 12px;

        margin: 0 0 96px 0;

        @media (min-width: $screen-xl) {
            justify-content: center;
            align-items: center;
            padding: 0;
        }

        .picture {
            position: sticky;
            top: 25vh;
            left: 0;

            display: block;
            min-width: 130px;
            height: 214px;

            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            @media (min-width: $screen-xl) {
                position: relative;
                top: auto;
                left: auto;

                width: 291px;
                height: 480px;
            }
        }

        .content {
            display: block;
            margin: 0 0 0 30px;
            max-width: 372px;

            @media (min-width: $screen-xl) {
                margin: 0 0 0 40px;
            }
        }
    }

    .toTheFuture {
        display: block;
        width: 100%;
        padding: 38px 0;

        background-color: $quaternaryColor;

        .container {
            .content {

            }

            .dynamicMap {
                display: flex;
                flex-direction: column;
                align-items: center;

                @media (min-width: $screen-xl) {
                    flex-direction: row;
                    justify-content: center;
                }

                #map {
                    max-width: 100%;

                    path.active {
                        fill: $primaryColor;
                        transition-duration: .144s;

                        &:hover {
                            fill: $secondaryColor;
                        }
                    }
                }

                .contents {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;

                    width: 100%;

                    padding: 10px 0 0 0;
                    margin: 96px 0 0 0;

                    border-top: 2px solid #FFF;

                    @media (min-width: $screen-xl) {
                        width: auto;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 100%;
                        left: calc(50% - 1px);

                        width: 2px;
                        height: 80px;

                        background-color: #FFF;

                        @media (min-width: $screen-xl) {
                            bottom: calc(50% - 1px);
                            left: auto;
                            right: 100%;

                            width: 80px;
                            height: 2px;
                        }
                    }

                    @media (min-width: $screen-xl) {
                        width: 53%;
                        padding: 0 0 0 10px;
                        margin: 0 0 0 96px;

                        border-top: none;
                        border-left: 2px solid #FFF;
                    }

                    .item {
                        display: block;
                        margin: 10px;

                        width: 100%;

                        display: flex;
                        background-color: #FFF;

                        @media (min-width: $screen-xl) {
                            width: auto;
                        }

                        .picture {
                            display: block;
                            width: 113px;
                            height: 68px;

                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }

                        .content {
                            display: block;
                            padding: 8px 17px;

                            color: $primaryColor;
                            font-size: 20px;
                            font-weight: 300;

                            .energy {
                                display: block;
                                margin: 8px 0 0 0;

                                color: $tertiaryColor;
                                font-size: 16px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }

    .management {
        padding: 42px 0;
        
        .container {
            .blocks {
                width: 100%;
                margin: 48px 0 0 0;

                display: flex;
                flex-direction: column;
                align-items: center;

                @media (min-width: $screen-xl) {
                    flex-direction: row;
                    justify-content: space-between;
                }

                .block {
                    display: block;
                    padding: 32px 32px 24px;

                    border-radius: 24px 0 24px 0;
                    background-color: $tertiaryColor;

                    + .block {
                        margin: 30px 0 0 0;

                        @media (min-width: $screen-xl) {
                            margin: 0 0 0 30px;
                        }
                    }

                    &, * {
                        color: #FFF;
                    }
                }
            }
        }
    }
}