.wpContent--energy {
    .sustainable {
        padding: 0 0 96px 0;
    }

    .esgStrategy {
        display: block;
        width: 100%;
        padding: 64px 0;

        background-color: $quaternaryColor;

        .solutions {
            position: relative;
            display: flex;
            flex-direction: column;

            width: 100%;
            max-width: 752px;
            
            margin: 64px auto;

            @media (min-width: $screen-xl) {
                height: 780px;

                opacity: 0;

                background-image: url('img/esgStrategy/bigLogo.png');
                background-position: center;
                background-repeat: no-repeat;

                transform: rotate(-45deg);
                transition-duration: 987ms;

                &.isVisible {
                    opacity: 1;
                    transform: rotate(0deg);
                }
            }

            .space {
                display: block;
                height: 96px;

                margin: 0 0 28px 0;

                @media (max-width: $screen-xl) {
                    transform: none !important;
                }

                @media (min-width: $screen-xl) {
                    position: absolute;
                    top: calc(50% - 60px);
                    right: 50%;

                    width: 50%;
                    height: 120px;

                    margin: 0;

                    transform-origin: center right;
                }

                .solution {
                    position: relative;
                    display: flex;
                    align-items: center;

                    width: 100%;
                    height: 96px;

                    padding: 0 0 0 96px;

                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: left center;

                    @media (min-width: $screen-xl) {
                        display: block;
                        width: 120px;
                        height: 120px;

                        padding: 0;

                        background-position: center;
                    }

                    @media (max-width: $screen-xl) {
                        transform: none !important;
                    }

                    &:hover {
                        .titleSpace {
                            .title {
                                right: 100%;

                                opacity: 1;
                                pointer-events: all;
                            }
                        }
                    }

                    .titleSpace {
                        display: block;

                        @media (max-width: $screen-xl) {
                            width: auto !important;
                            transform: none !important;
                        }
                        
                        @media (min-width: $screen-xl) {
                            position: absolute;
                            top: 50%;
                            right: 50%;

                            width: 40px;
                            height: 1px;

                            transform-origin: center right;
                        }

                        .title {
                            display: block;
                            width: 100%;
                            padding: 0 0 0 32px;

                            color: $primaryColor;
                            font-size: 20px;
                            font-weight: 500;

                            transition-duration: .144s;

                            @media (max-width: $screen-xl) {
                                transform: none !important;
                            }

                            @media (min-width: $screen-xl) {
                                position: absolute;
                                top: 0;
                                right: 50%;

                                padding: 0;

                                min-width: 130px;

                                font-size: 16px;

                                opacity: 0;
                                pointer-events: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .ratings {
        padding: 74px 0;

        .container {
            .blocks {
                display: flex;
                flex-direction: column;
                align-items: center;

                @media (min-width: $screen-xl) {
                    flex-direction: row;
                    justify-content: center;
                }

                .tabBlock {
                    position: relative;
                    display: block;
                    width: 264px;
                    height: 317px;

                    margin: 32px 0;

                    border: 2px solid rgba($primaryColor, .25);
                    border-radius: 32px 0 32px 0;
                    background-color: #FFF;
                    background-position: center;
                    background-repeat: no-repeat;

                    overflow: hidden;

                    transition-duration: .377s;

                    &:hover {
                        border-color: rgba($primaryColor, .25);
                    }

                    @media (min-width: $screen-xl) {
                        border: 2px solid #FFF;

                        + .tabBlock {
                            margin: 0 0 0 32px;
                        }
                    }

                    &:focus {
                        .tab {
                            height: 100%;
                            
                            .content {
                                max-height: 100%;
                                opacity: 1;
                            }
                        }
                    }

                    .tab {
                        position: absolute;
                        bottom: 0;
                        left: 0;

                        display: block;
                        width: 100%;
                        height: 62px;
                        padding: 0px 18px;

                        cursor: pointer;
                        overflow: auto;

                        background-color: $primaryColor;
                        transition-duration: .61s;

                        .title {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            height: 62px;
                            padding: 0;

                            color: #FFF;
                            font-size: 16px;
                            font-weight: 700;
                            text-align: center;
                        }

                        .content {
                            display: block;
                            max-height: 0;
                            opacity: 0;

                            overflow: hidden;
                            
                            transition-duration: .61s;

                            &, * {
                                color: #FFF;
                                font-size: 16px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }

    .commitment {
        padding: 74px 0;
        background-color: $quaternaryColor;

        .container {
            .blocks {
                display: flex;
                flex-direction: column;
                align-items: center;

                @media (min-width: $screen-xl) {
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                }

                .tabBlock {
                    position: relative;
                    display: block;
                    width: 264px;
                    height: 317px;

                    margin: 32px 0;

                    border: 2px solid rgba($primaryColor, .25);
                    border-radius: 32px 0 32px 0;
                    background-color: #FFF;
                    background-position: center;
                    background-repeat: no-repeat;

                    overflow: hidden;

                    transition-duration: .377s;

                    &:hover {
                        border-color: rgba($primaryColor, .25);
                    }

                    @media (min-width: $screen-xl) {
                        border: 2px solid #FFF;

                        &:not(:last-child) {
                            margin: 0 21px 0 0;
                        }
                    }

                    &:focus {
                        .tab {
                            height: 100%;
                            
                            .content {
                                max-height: 100%;
                                opacity: 1;
                            }
                        }
                    }

                    .tab {
                        position: absolute;
                        bottom: 0;
                        left: 0;

                        display: block;
                        width: 100%;
                        height: 62px;
                        padding: 0px 18px;

                        cursor: pointer;
                        overflow: auto;

                        background-color: $primaryColor;
                        transition-duration: .61s;

                        .title {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            height: 62px;
                            padding: 0;

                            color: #FFF;
                            font-size: 16px;
                            font-weight: 700;
                            text-align: center;
                        }

                        .content {
                            display: block;
                            max-height: 0;
                            opacity: 0;

                            overflow: hidden;
                            
                            transition-duration: .61s;

                            &, * {
                                color: #FFF;
                                font-size: 16px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }

    .manifest {
        padding: 32px 0;
    }

    .origins {
        padding: 60px 0;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .container {
            .row {
                &, * {
                    color: #FFF;
                }
            }
        }
    }

    .greenFinancing {
        padding: 46px 0;

        .container {
            .greenTitles {
                display: block;
                width: 100%;
    
                margin: 48px auto;
                
                .banners {
                    display: block;
                    width: 100%;
    
                    margin: 0 0 148px 0;
    
                    @media (min-width: $screen-xl) {
                        background-image: url('img/productiveProcesses/bannersBg.png');
                        background-position: top center;
                        background-repeat: no-repeat;
                    }
    
                    .slick-arrow {
                        position: absolute;
                        top: calc(100% + 32px);
    
                        width: 40px;
                        height: 40px;
    
                        cursor: pointer;
    
                        border: none;
                        border-radius: 20px;
                        background: none;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 26px;
    
                        transition-duration: .144s;
                        z-index: 1;
    
                        &:hover {
                            background-color: $quaternaryColor;
                        }
    
                        &.slick-disabled {
                            opacity: .25;
                            pointer-events: none;
                        }
    
                        &.prev {
                            left: 0;
                            background-image: url('img/productiveProcesses/arrowPrev.svg');
    
                            @media (min-width: $screen-xl) {
                                left: calc(50% - 20px - 230px);
                            }
                            &:active {
                                background-position-x: left;
                            }
                        }
    
                        &.next{
                            right: 0;
                            background-image: url('img/productiveProcesses/arrowNext.svg');
    
                            @media (min-width: $screen-xl) {
                                right: calc(50% - 20px - 230px);
                            }
    
                            &:active {
                                background-position-x: right;
                            }
                        }
                    }

                    .slick-dots {
                        top: calc(100% + 32px);
                        bottom: auto;
    
                        display: flex;
                        justify-content: center;
    
                        > li {
                            display: none;
                            margin: 0;
                            
                            width: auto;
                            height: auto;

                            @media (min-width: $screen-xl) {
                                display: block;
                            }
    
                            &.slick-active {
                                display: block;

                                button {
                                    color: #FFF;
                                    background-color: $primaryColor;
                                }
                            }
    
                            + li {
                                @media (min-width: $screen-xl) {
                                    margin: 0 0 0 34px;

                                    button {
                                        &::before {
                                            content: '';
                                            position: absolute;
                                            top: calc(50% - 1px);
                                            right: calc(100% + 1px);
        
                                            width: 36px;
                                            height: 3px;
        
                                            background-color: $primaryColor;
                                        }
                                    }
                                }
                            }
    
                            button {
                                position: relative;
                                display: flex;
                                justify-content: center;
                                align-items: center;
    
                                width: 38px;
                                height: 38px;
    
                                border: 3px solid $primaryColor;
                                border-radius: calc(38px / 2);
    
                                color: $titleColor;
                                font-size: 20px;
                                font-weight: 500;
                                text-align: center;
                                
                                background: none;
                                background-color: #FFF;
    
                                transition-duration: .144s;
                            }
                        }
                    }
                    
                    .banner {
                        display: block;
                        width: 100%;
                        height: 220px;
    
                        background-position: bottom center;
                        background-repeat: no-repeat;
                    }
                }
    
                .contents {
                    display: block;
                    width: 100%;
    
                    .content {
                        .title {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}