.wpContent--cvmFiles {
    .container {
        .companiesFiles {
            .company {
                .filters {
                    display: flex;
                    justify-content: flex-end;
                
                    margin-bottom: 24px;

                    select {
                        width: 115px;
                    }
                }
            }
        }
    }
}
