@font-face {
    font-family: 'Votorantim Sans';
    src: url('VotorantimSans-Regular.woff2') format('woff2'),
        url('VotorantimSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Votorantim Sans';
    src: url('VotorantimSans-Thin.woff2') format('woff2'),
        url('VotorantimSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Votorantim Sans';
    src: url('VotorantimSans-Light.woff2') format('woff2'),
        url('VotorantimSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Votorantim Sans';
    src: url('VotorantimSans-Black.woff2') format('woff2'),
        url('VotorantimSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Votorantim Sans';
    src: url('VotorantimSans-Medium.woff2') format('woff2'),
        url('VotorantimSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Votorantim Sans';
    src: url('VotorantimSans-Bold.woff2') format('woff2'),
        url('VotorantimSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

