*,
*::before,
*::after {
    outline: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    width: 100vw;
    overflow-x: hidden;
}

body {
    position: relative;
    margin: 0;
    padding: 0 0 48px 0;

    &.admin-bar {
        .header {
            top: 46px;
            @media screen and (min-width: 782px) {
                top: 32px;
            }
        }
    }
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    body {
        &.admin-bar {
            .header {
                top: auto !important;
            }
        }
    }
}

body,
input,
textarea,
button {
    font-family: $textFont;
    font-size: $fontSize;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;

    color: $textColor;
    font-size: 16px;
    font-weight: 400;
    font-family: $textFont;
    line-height: 130%;

    @media (min-width: $screen-xl) {
        font-size: 16px;
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem;

    color: $textColor;
    font-size: 15px;
    font-weight: 400;
    font-family: $textFont;
    line-height: 150%;

    @media (min-width: $screen-xl) {
        font-size: 16px;
    }
}

h1,
h2,
h3,
h4,
h5,.h5,
h6 {
    color: $titleColor;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1rem;
}

h1 {
    color: #FFF;
    font-family: $fontBase;
    font-size: 38px;
    font-weight: 700;
    line-height: 130%;
    
    @media (min-width: $screen-xl) {
        font-size: 42px;
    }
}

h2 {
    font-family: $fontBase;
    font-size: 23px;
    font-weight: 500;
    line-height: 130%;
    
    @media (min-width: $screen-xl) {
        font-size: 40px;
    }
}

h3 {
    font-family: $fontBase;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    
    @media (min-width: $screen-xl) {
        font-size: 32px;
        font-weight: 700;
    }
}

h4 {
    color: $tertiaryColor;
    font-family: $textFont;
    font-size: 17px;
    font-weight: 300;
    line-height: 130%;
    
    @media (min-width: $screen-xl) {
        font-size: 23px;
    }
}

h5,.h5 {
    color: $tertiaryColor;
    font-family: $fontBase;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    
    @media (min-width: $screen-xl) {
        font-size: 20px;
        font-weight: 300;
    }
}

h6 {
    color: $textColor;
    font-family: $fontBase;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    
    @media (min-width: $screen-xl) {
        font-size: 16px;
        line-height: 19px;
    }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.overflow {
    width: 100%;
    overflow: auto;
}

*::-webkit-scrollbar-track { background-color: rgba($quaternaryColor, 1) !important; }
*::-moz-scrollbar-track { background-color: rgba($quaternaryColor, 1) !important; }
*::-ms-scrollbar-track { background-color: rgba($quaternaryColor, 1) !important; }
*::-o-scrollbar-track { background-color: rgba($quaternaryColor, 1) !important; }

*::-webkit-scrollbar { width: 9px !important; height: 9px !important; @include transition(.377s); }
*::-moz-scrollbar { width: 9px !important; height: 9px !important; @include transition(.377s); }
*::-ms-scrollbar { width: 9px !important; height: 9px !important; @include transition(.377s); }
*::-o-scrollbar { width: 9px !important; height: 9px !important; @include transition(.377s); }

*::-webkit-scrollbar-thumb:hover { background: rgba(#1C95FF, .75) !important; }
*::-moz-scrollbar-thumb:hover { background: rgba(#1C95FF, .75) !important; }
*::-ms-scrollbar-thumb:hover { background: rgba(#1C95FF, .75) !important; }
*::-o-scrollbar-thumb:hover { background: rgba(#1C95FF, .75) !important; }

*::-webkit-scrollbar-thumb:active { background: rgba($secondaryColor, 1) !important; }
*::-moz-scrollbar-thumb:active { background: rgba($secondaryColor, 1) !important; }
*::-ms-scrollbar-thumb:active { background: rgba($secondaryColor, 1) !important; }
*::-o-scrollbar-thumb:active { background: rgba($secondaryColor, 1) !important; }

*::-webkit-scrollbar-thumb {border-radius: 0; background: rgba(#1C95FF, 1) !important; }
*::-moz-scrollbar-thumb {border-radius: 0; background: rgba(#1C95FF, 1) !important; }
*::-ms-scrollbar-thumb {border-radius: 0; background: rgba(#1C95FF, 1) !important; }
*::-o-scrollbar-thumb {border-radius: 0; background: rgba(#1C95FF, 1) !important; }

*::-webkit-scrollbar-button:increment:end, *::-webkit-scrollbar-button:decrement:start {
    height: 9px;

    background-color: rgba(#1C95FF, 1);

    &:active {
        background-color: rgba($primaryColor, 1);
    }
    &:disabled {
        background-color: rgba(#1C95FF, 0.2);
    }
}

*::-webkit-scrollbar-button:increment:end {
    border-radius: 0;
    
    background-position: center;
    background-size: contain;
    background-image: url(img/arrow_scroll_down.svg);
}

*::-webkit-scrollbar-button:decrement:start {
    border-radius: 0;

    background-position: center;
    background-size: contain;
    background-image: url(img/arrow_scroll_up.svg);
}